In [1]:
#1. Calculate the sum, difference, product, and quotient of two numbers.

In [2]:
#for sum of two numbers- we use (+) operator
num1 = 15
num2 = 32
sum_result = num1+num2
print(sum_result)

47

In [3]:
#for difference of two number- we use (-) operator
num1 = 43
num2 = 34
diff_result = num1-num2
print(diff_result)

9

In [4]:
#for product of two number- we use (*) operator 
num1 = 24
num2 = 5
pro_duct = num1*num2
print(pro_duct)

120

In [5]:
#for quotient- we use (/) operator
num1 = 54
num2 = 9
quo_result = num1/num2
print(quo_result)

6.0

In [6]:
#2. Perform various assignment operations on a variable.

In [7]:
x = 52
#addition operator
x += 5

In [8]:
print(x)

57

In [9]:
#subtraction operator
x -= 10
print(x)

47

In [10]:
#multiplication operator
y = 81
y *= 3

In [11]:
print(y)

243

In [12]:
#division operator - gives value of quotient
z = 27 
z /= 3
print(z)

9.0

In [13]:
#modulus operator - gives remainder value
a = 45
a %= 4
print(a)

1

In [14]:
#power operator
2**5

32

In [15]:
#comparison operator - to compare value and return a boolean value.
5 == 5

True

In [16]:
#floor operator (//)- gives nearest value
4 // 3

1

In [17]:
#not equal operator
2 != 2

False

In [18]:
#logical operator
True and True

True

In [19]:
#membership operator - to check whether a particular variable is present in the container or not. gives result in boolean value.
a = "data science"
"data" in "data science"

True

In [20]:
#identity operator- compare the memory location of two object. tries to figure out if both the adress is same or not.
a = 3 
b = 4
a is b

False

In [21]:
a = "backspace"
b = a 
b is a

True

In [22]:
#bitwise operator- operations at bit level. bit format means in a binary form i.e., (0 and 1)
12 & 4

4

In [24]:
#negation operator ( ~ ) 
~4

-5

In [25]:
#shift operator- left shift and right shift operator
43 >> 4     #right shift

2

In [26]:
32 << 5   #left shift

1024

In [27]:
#assignment operator
a = "kaushar"
a

'kaushar'

In [28]:
#3. Compare two numbers and print the results.

In [36]:
a = 20
b = 30
#compare the numbers
if a>b:
    print(a,"is greater than",b)
elif a<b:
    print(a,"is less than",b)
else:
    print(a,"is equals to",b)

20 is less than 30

In [37]:
#4.Check conditions using logical operators.

In [39]:
x = 15
y = 5
z = 10
if x<y and y<z:             #here using (and) logical operator
    print("both conditions are true: x is less than y and y is less than z")
else:
    print("at least one condition is false")

at least one condition is false

In [41]:
x = 15
y = 5
z = 10                   #here using (or) logical operator
if x<y or y>z:
    print("atleast one condition is true")
else: 
    print("both conditions are false")

both conditions are false

In [42]:
x = 15
y = 5
z = 10   #here using (not) logical operator
if not(x > y):
    print("the condition 'x is greater than y' is false")
else:
    print("the condition 'x is greater than y' is true")

the condition 'x is greater than y' is true

In [43]:
#5.Check the identity of variables.

In [45]:
a = [ 2, 4, 6 ]
b = [ 2, 4, 6 ]
#here using the (is) operator
if a is b:
    print("x and y refer to the same objects")
else:
    print("refer to different objects in memory")

refer to different objects in memory

In [47]:
a = [ 2, 4, 6 ]
b = [ 2, 4, 6 ]
#here using the (is not) operator
if a != b:
    print("a and b refer to different objects")
else:
    print("a and b refer to the same objects")

a and b refer to the same objects

In [48]:
a = "backspace"
b = a
if b is a:
    print("both have same value")
else:
    print("have different memory location")

both have same value

In [49]:
#6.Perform bitwise operations on any two integers.

In [52]:
#operations at bit level. bit format means in a binary form i.e., (0 and 1) 
m = 12
n = 4
bit = m & n    #(&) operator
print(bit)

4

In [51]:
bin(0)

'0b0'

In [53]:
# or(|)
m = 3
n = 5
bit_ = m | n
print(bit_)

7

In [54]:
#7. Use unary operators to change the sign of a number.

In [1]:
num = 23
un_num = -num
print(un_num)

-23

In [2]:
num = -34
un_num = -num
print(un_num)

34

In [4]:
z = ~7
z

-8

In [5]:
x = not True
x

False

In [3]:
#8. Use the ternary operator to assign values based on conditions.

In [7]:
age = 25
status = "adult" if age >= 18 else "minor"
print(status)

adult

In [8]:
x = 20 
y = 40
res_ = "x is greater" if x > y else "y is greater"
print(res_)

y is greater

In [ ]:
#checking if a number is even or odd
num1 = 13
result = "even" if num1 % 2 == 0 else "odd" 
print(result)